### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment variables (بسیار مهم: فایل پسوردها نباید در گیت باشد)
.env

# Database (دیتابیس محلی نباید آپلود شود)
*.db
*.sqlite3

# VS Code & IDE
.vscode/
.idea/
.DS_Store

# Flask
instance/
.webassets-cache
