# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments 
venv/
.venv/
env/
venv_clean/

# Environment variables
.env

# Database
*.db
*.sqlite3

# VS Code & IDE
.vscode/
.idea/
.DS_Store

# Flask
instance/
.webassets-cache
